noderedcode.txt
[{"id":"6dd4b81.a7ed548","type":"tab","label":"automation and weather","disabled":false,"info":""},{"id":"49a720e3.6c468","type":"ibmiot in","z":"6dd4b81.a7ed548","authentication":"apiKey","apiKey":"77a7d140.63192","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1652","applicationId":"","deviceType":"hg1652","eventType":"HARISH","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":false,"qos":0,"x":150,"y":80,"wires":[["c370b76b.604178","4653e575.845fcc"]]},{"id":"c370b76b.604178","type":"function","z":"6dd4b81.a7ed548","name":"temperature json passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["612cde4a.c1777","6cf0c380.d4b46c"]]},{"id":"4653e575.845fcc","type":"function","z":"6dd4b81.a7ed548","name":"humidity json passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["92bb49e4.611ee8","d5ab0e73.3f69f"]]},{"id":"612cde4a.c1777","type":"debug","z":"6dd4b81.a7ed548","name":"temperature value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"92bb49e4.611ee8","type":"debug","z":"6dd4b81.a7ed548","name":"humidity value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":160,"wires":[]},{"id":"42541e6.3dce5e","type":"ui_button","z":"6dd4b81.a7ed548","name":"","group":"3b432977.b88436","order":2,"width":0,"height":0,"passthru":false,"label":"light on button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light_on","payloadType":"str","topic":"","x":250,"y":280,"wires":[["bf5c3f80.e280b","4eb2603c.82a48"]]},{"id":"fc58e26c.7afd5","type":"ui_button","z":"6dd4b81.a7ed548","name":"","group":"3b432977.b88436","order":3,"width":0,"height":0,"passthru":false,"label":"light off button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light_off","payloadType":"str","topic":"","x":250,"y":360,"wires":[["bf5c3f80.e280b","4eb2603c.82a48"]]},{"id":"bf5c3f80.e280b","type":"ibmiot out","z":"6dd4b81.a7ed548","authentication":"apiKey","apiKey":"77a7d140.63192","outputType":"cmd","deviceId":"1652","deviceType":"hg1652","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":320,"wires":[]},{"id":"4eb2603c.82a48","type":"debug","z":"6dd4b81.a7ed548","name":"button output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":380,"wires":[]},{"id":"9673f21b.93436","type":"http response","z":"6dd4b81.a7ed548","name":"","statusCode":"","headers":{},"x":790,"y":320,"wires":[]},{"id":"557c1837.562388","type":"http in","z":"6dd4b81.a7ed548","name":"","url":"/home1","method":"get","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["200d043.79237fc"]]},{"id":"200d043.79237fc","type":"function","z":"6dd4b81.a7ed548","name":"http response after json parsing","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["773215c8.5c633c","bf5c3f80.e280b"]]},{"id":"773215c8.5c633c","type":"debug","z":"6dd4b81.a7ed548","name":"http request output ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":440,"wires":[]},{"id":"46105658.fdbc28","type":"http response","z":"6dd4b81.a7ed548","name":"weather response","statusCode":"","headers":{},"x":690,"y":220,"wires":[]},{"id":"c6678946.3186a8","type":"http in","z":"6dd4b81.a7ed548","name":"weather requesting","url":"/weatherdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["aef62e90.8544c"]]},{"id":"aef62e90.8544c","type":"function","z":"6dd4b81.a7ed548","name":"weather response function","func":"msg.payload={\"temperature\":global.get(\"T\"),\"humidity\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["46105658.fdbc28"]]},{"id":"6cf0c380.d4b46c","type":"ui_gauge","z":"6dd4b81.a7ed548","name":"","group":"95912ca2.27133","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":40,"wires":[]},{"id":"d5ab0e73.3f69f","type":"ui_gauge","z":"6dd4b81.a7ed548","name":"","group":"95912ca2.27133","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":120,"wires":[]},{"id":"77a7d140.63192","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"jblmqs.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3b432977.b88436","type":"ui_group","z":"","name":"kitchen","tab":"db90e9c2.c2cc78","disp":true,"width":"6","collapse":false},{"id":"95912ca2.27133","type":"ui_group","z":"","name":"temperature","tab":"2a512ee2.85a4c2","disp":true,"width":"6","collapse":false},{"id":"db90e9c2.c2cc78","type":"ui_tab","z":"","name":"home automation","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a512ee2.85a4c2","type":"ui_tab","z":"","name":"mlrit weather properties","icon":"dashboard","disabled":false,"hidden":false}]